{% load static %}
{% for event in events %}

    <div class="list_obj clearfix">
        <div class="image" style="background-image: url({% static event.imageUrl %})"></div>
        <div class="data clearfix">
            <h5 class="name">{{ event.name   }}</h5>
            <div class="attr_block clearfix">
                <label>Адрес конференции: {{ event.address }}</label>
                <label>Дата проведения конференции: {{ event.time }}</label>
            </div>
            <p class="desc_short">
                {{ event.desc }}
            </p>
        </div>
        <a class="view anim" href="{% url 'single_object' event_id=event.id %}" target="_blank">Давайте что-нибудт напишем</a>
    </div>
{% empty %}
N/A
{% endfor %}