{% extends '../base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
{% endblock %}

{% block content %}
    
    <div class="container_list clearfix">

        {% if authorized %}
        <!-- add new record -->
        <div id="modal_window">
        
            <form id="form_add" class="clearfix" enctype="multipart/form-data" name="form_add" method="POST">
                <div class="header clearfix">
                    <h5>Новая запись</h5>
                    <div class="button anim" id="hide_modal_window">
                        &#215;
                    </div>
                </div>
                <div class="left_side">
                    <div id="add_image" class="anim">+
                        {{ add_form.image }}
                        <div id="pre_img"></div>
                    </div>
                </div>
                <div class="right_side">
                    {% csrf_token %}
                    {{ add_form.name }}
                    {{ add_form.address }}
                    {{ add_form.time }}
                    {{ add_form.desc }}
                </div>
                <div class="footer clearfix">
                    <div id="add_rec_button" class="anim">Добавить</div>
                </div>
            </form>
        </div>
        <!-- add new record -->
        {% endif %}

        <div class="left col">
            <div class="ext_info" id="left_bar_stick">
                <h3>Экобионика{{ name }}</h3>
                <p>
                    Лекции на разные интересные темы.
                </p>
            </div>
        </div>
        <div class="right col">
            {% include 'main/base_list.html' with event=event %}
            <div id="loading_block"></div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'main/script.js' %}">
    </script>
{% endblock %}