*{
    /*отступы*/
    margin: 0;
    padding: 0;

    /*стили общие*/
    outline: none; /* вид контура контур none*/
    list-style: none; /* вид пунктов ( нам они не нужны*/
    background: none; /* вид заднего фона, картинка вообще не подойдет, оставим пока без фона */
    border: none;/* позволяет установить толщину, стиль, цвет границы вокруг элемента*/
    box-sizing: border-box; /* применяется для алгоритма расчета ширины и высоты элемента, в данном случае - свойства
    width и height включают в себя значения полей и границ, но не отступов (margin). Эта модель пользуется браузером explorer
    в режиме несовместимости*/

    /*текст*/
    text-decoration: none; /* стиль текста  - подчеркивание, зачеркивание, мигание и т.д. нам это не нужно*/
    font-weight: 400; /* устанавливает насыщенность шрифта от 100 до 900, с шагом 100*/
    font-size: 14px; /* устанавливает размер шрифта*/
    font-family: 'din'; /*устанавливает симейство шрифта*/
    color: #000000; /* лпределяет цвет - черный*/

    /*нельзя ничего выделять*/
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}